:root {
  --color-first: #f7f6f2;
  --color-second: #000;
  --color-third: #f1d370;
  --color-for: #1c3d69;

  --color-white-second: #f2f2f2;
}

body {
  background-color: var(--color-for);
  font-family: 'Press Start 2P', cursive;
}
