input {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;

  width: 420px;
  height: 50px;

  border-radius: 8px;
  border: 2px solid #333333;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  padding-left: 10px;
  padding-right: 10px;

  background: #f2f2f2;

  font-family: inherit;
  font-size: 14px;
}
